<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de peliculas
    </ion-title>
    <ion-searchbar (ionInput)="getMovies($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de peliculas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-movie-list *ngFor="let movie of movies" [movie]="movie"></app-movie-list>
  </ion-list>
</ion-content>
